<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheVeerendra</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="../assets/logo.png">
        
        <ul>
            <li><a class="active" href="../index.html">Home</a></li>
            <li><a href="certifications.html">Certifications</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

    </nav>
    <div class="center pros">
        <p>INTERNATIONAL CONFERENCE ON DATA ANALYTICS AND INTELLIGENCE COMPUTING–(ICDAIC-24)
        </p>
        <img src="../assets/icdaic.png" width="350" height="auto">
        
    </div>

    <div class="center pros">
        <p>Data Analytics with python from NPTEL</p>
        
        <img src="../assets/Data Analytics with Python.jpeg" width="350" height="auto">
        
    </div>

    <div class="center pros">
        <p>Introduction to programming with matlab</p>
        <img src="../assets/MATLAB.jpg" width="350" height="auto">
        
    </div>
    <div class="link">
        <a href="https://coursera.org/verify/N4BKV4CJTCJ4"></a>
    </div>
    <div class="center pros">
        <p>3d digital art and design</p>
        <img src="../assets/threed.jpg" width="350" height="auto">
        
    </div>
    
</body>
</html>