<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheVeerendra</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="logo.png">
        
        <ul>
            <li><a class="active" href="../home.html">Home</a></li>
            <li><a href="certifications.html">Certifications</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

    </nav>
    <p class="first">
        Find me on!
    </p>
    <div class="counter">
        
        <img src="gmail.png" alt="Gmail" class="gmail">
        <p class="text">
            arunvenky2002@gmail.com
        </p>
        
    </div>
    <div class="counter">
        <img src="linkedin.jpg" alt="ll" class="ll">
        <p class="text">
            <a href="www.linkedin.com/in/veerendraarun">www.linkedin.com/in/veerendraarun</a>
        </p>
    </div>
</body>
</html>