<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheVeerendra</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="../assets/logo.png">
        <ul>
            <li><a class="active" href="../index.html">Home</a></li>
            <li><a href="certifications.html">Certifications</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

    <div class="center pros">
        <p>Criminal Face recognition system</p>
        <img src="../assets/crm.png" width="350" height="auto">
        <p>I have published a journal paper on the criminal face recognition system on NOVA 24' conference. The Criminal Face recognition system is a machine learning application 
            that has been trained with over 13,000+ faces and has exhibited 
            commendable performance and accuracy. I strongly believe that the CFRS (Criminal face recognition system)
            can be implemented in real world applications and benefit from its outstanding accuracy.
            
        </p>
    </div>

    <div class="center pros">
        <p>The Excel Plotter</p>
        <img src="../assets/excel.jpg" width="350" height="auto">
        <p>The Data Analysis web application is a simple yet amazing web tool 
            that helps visualize data (excel sheets) in the form of charts for the 
            user no matter the size of the data. The application lets the user to choose 
            and manipulate columns to picturize only the necessary data to draw conclusions from it later on.</p>
    
        </div>

</body>
</html>